.packet-card{
    text-transform: uppercase;
    width: 80px;
    height: 130px;
    padding: 30px 60px;

    margin: 0;
    width: 100%;

    height: 100%;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #746909;

    border-radius: 30px;
}

#trial{
    text-transform: lowercase;
}

#packet-price{
    font-size: 60px;
}

#valuta{
    padding-left: 20px;
    align-self: center;
}


.btn-packet{
    border: none;
    background-color: #afd819;
    color: rgb(20, 92, 44);
    font-weight: 600;

    border-radius: 40px;
    padding: 10px 40px;
    font-size: 20px;
    border: none;
    &:hover{
        background-color: #5b7208;
    color: rgb(27, 207, 87);
    transition-duration: 0.3s;
    }
}