<div class="packet-card col-12">
    <div class="row justify-content-center">
        <h3>{{packetName}}</h3>
    </div>
    <div class="row justify-content-center">
        <span id="packet-price">{{packetPrice}}</span> RSD
    </div>
    <hr>
    <div class="row justify-content-center">
        <span id="trial">{{packetTrial}}</span>
    </div>
    <div class="row justify-content-center">
        <span innerHtml={{packetTermins}}></span>
    </div>
    <div class="row justify-content-center">
        <span>{{packetEnters}}</span>
    </div>
    <hr>
    <div class="row justify-content-center">
        <button>Prijavi se</button>
    </div>
</div>