mat-form-field{
    width: 100%;
}

button{
    background-color: #71DB77;
    padding: 10px 80px;
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 1.3rem;

}

input{
    color: red;
}

img{
    height: 200px;
}