ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
   li{
       display: inline;
       padding: 40px;
       a{
           display: inline;
           font-size: 18px;
           font-weight: 500;
           cursor: pointer;
           &:hover{
            color: #fdbb2d;
            transition-duration: 0.3s;
           }
       }
       
   } 
}
.header{
    margin: 0 50px
}

.header-nav{
    margin-right: 15px;
    margin-top: 33px;
    
}

img{
    margin-right: 100px;
}

