<div class="col-12 footer">
<div class="row m-4">
    <div class="col-4 ">
        <p>Aliket sport d.o.o</p>
        <p>Bulevar umetnosti 32b, Novi Beograd</p>
        <p>PIB: 493211083</p>
        <p>TEL: 069 33 22 101</p>
        <p class="mt-3"><a href="mailto:kontakt@healthpass.rs">kontakt@healthpass.rs</a></p>
    </div>

    <div class="col-4 text-center">
        <p class="mb-2">Pratite nas i na:</p>
            <a>
                <i class="fa fa-facebook-official fa-2x face"></i>
            </a>
            <a>
                <i class="fa fa-twitter fa-2x twit" aria-hidden="true "></i>
            </a>
            <a>
                <i class="fa fa-instagram" style="font-size:35px;color:red"></i>
            </a>
            <a>
                <i class="fa fa-linkedin-square fa-2x link" aria-hidden="true"></i>
            </a>
    </div>
    <div class="col-4 text-lg-right">
        <p class="pb-2"><a>Objekti</a></p>
        <p class="pb-2"><a>Partneri</a></p>
        <p class="pb-2"><a>Kompanije</a></p>
        <p class="pb-2"><a>Uslovi prodaje</a></p>
        
    </div>
</div>
<div class="row justify-content-center mb-4">
    
    <p>&copy;2020 HealthPass | All rights reserved</p>
</div>
</div>