.footer{
    // color: #71DB77;
    font-weight: 500;
    
}

p{
    margin-bottom: 0;
    font-size: small;
}

a{
    text-decoration: none;
    
}

i{
    
    padding: 10px;
}

.face{
    color: #0675E8;   
}

.twit{
    color: #71C9F8;
}
.insta{
    border-radius: 10px;

     background: linear-gradient(160deg, rgba(131,58,180,1) 0%, rgba(253,36,29,1) 53%, rgba(252,207,69,1) 100%);
}

.link{
    color: #006097;
}
