<div class="col-12 home justify-content-center">
<div class=" row justify-content-center ">
    <div class="col-6 text-center text-information">
        <h1 class="py-5">Zdrav &#382;ivot i beskontaktna kupovina nikad nisu bili pristupa&#269;niji.</h1>
        <h3 class="mb-4">Bavi se sportom kojim god po&#382;eli&scaron; i zdravo se hrani, jer ti mi sve obezbe&#273;ujemo.</h3>
        <h3>Samo ti je potreban NFC privezak.</h3>
    </div>
</div>
<div class="row justify-content-center">
    <button class="btn sign" routerLink='signup'>Prijavi se</button>
</div>
</div>