/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; color: #71DB77; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
    color: #71DB77;
    &:hover{
        color: #25cec6;
    }
}